
<!-- Build your index page here! -->

{{!-- <script src="/public/assets/js/index.js"></script> --}}

<div class="flex h-screen/1">
    <div id="welcomeScreen" class="m-auto text-center m-auto p-auto text-white">


        <h3>About</h3>
        <p class="block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima iure minus, natus delectus, nihil inventore debitis odit quas placeat a, architecto cupiditate harum eaque aperiam ullam. Reprehenderit eum commodi facilis aperiam dolore itaque deleniti tenetur vero minima recusandae! Dignissimos voluptatibus dicta reiciendis distinctio. Vel obcaecati similique eligendi nesciunt. Voluptas eligendi maiores, a qui, exercitationem tempore distinctio asperiores laudantium illo ullam omnis obcaecati odio ut incidunt labore dolore suscipit. Nulla, similique. Non at, excepturi dignissimos suscipit laboriosam quidem! Totam modi quibusdam aliquid cumque voluptas facilis esse rerum nulla numquam autem officiis error placeat quas dolorem optio, eveniet impedit neque illo iste?</p>
            
<script src="/public/assets/js/about.js"></script>

    </div>
</div>