<!-- Build your index page here! -->

{{!-- <script src="/public/assets/js/index.js"></script> --}}


<div class="flex h-screen/1">
    <div id="welcomeScreen" class="m-auto text-center">


        <img id="seeds" class="m-auto text-center w-1/2 h-auto" src="/public/assets/images/seeds.png" />
        <h1 id ="seedsBottomText"class = "animation text-white text-4xl font-bold focus:outline-none">start small. grow fast. be happy</h1>
        {{!-- <p class="font-sans font-bold text-2xl">Would you like to log an entry or view your metrics?</p> --}}

        <button id="login" class="block m-auto my-5 w-32 p-2 bg-lime1 text-white text-lg rounded-full font-bold focus:outline-none">
            Login
        </button>

        <button id = "signup" class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            Sign up
        </button>

        <script src="/public/assets/js/index.js"></script>

    </div>
</div>