
<!-- Build your index page here! -->

<script src="/public/assets/js/index.js"></script>

<div class="flex h-screen/1">
        <div id="welcomeScreen" class="m-auto text-center">
            <p class="font-mono text-3xl sm:text-5xl md:text-6xl font-bold border-b-2 border-solid border-black my-3 text-bluem1">
                <h1>Hello, World!</h1>
            </p>
            <p class="font-mono text-xl sm:text-2xl text-bluem1">
                Let's test your movie knowledge!
            </p>
        </div>