
<!-- Build your index page here! -->

<script src="/public/assets/js/index.js"></script>

    <div class="flex h-screen/1">
        <div id="welcomeScreen" class="m-auto text-center">
                <h1 class="font-sans font-bold text-6xl">Seeds</h1>
                <p class="font-sans font-bold text-2xl">Would you like to log an entry or view your metrics?</p>
                <button class="block m-auto my-5 w-32 p-2 bg-blueLight1 text-white rounded-full font-bold focus:outline-none">
				    <a href="log">Log</a>
				</button>

                <button class="block m-auto my-5 w-32 p-2 bg-blueLight1 text-white rounded-full font-bold focus:outline-none">
				    <a id="metricsButton">Metrics</a>
				</button>
        </div>
    </div>
        