<script src="/public/assets/js/members.js"></script>

<div class="flex h-screen/1">
    <div id="welcomeScreen" class="m-auto text-center">
        <img id="seeds" class="m-auto text-center" src="/public/assets/images/seeds.png" />
        {{!-- <p class="font-sans font-bold text-2xl">Would you like to log an entry or view your metrics?</p> --}}

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Welcome <span class="member-name"></span></h2>
                </div>
            </div>
        </div>


        <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            <a href="posts">Post</a>
        </button>

        <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            <a href="metrics">Metrics</a>
        </button>

    </div>
</div>