<script src="/public/assets/js/charts/dayQualityChart.js"></script>
<script src="/public/assets/js/charts/reasonsForDayChart.js"></script>
<script src="/public/assets/js/members.js"></script>


<div class="flex h-screen/1">
    <div id="welcomeScreen" class="m-auto text-center">
        <img id="seeds" class="m-auto text-center" src="/public/assets/images/seeds.png" />

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="font-sans font-bold text-2xl text-lime1">Welcome <span class="member-name"></span></h2>
                </div>
            </div>
        </div>


        <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            <a href="posts">Post</a>
        </button>

    </div>
</div>

<canvas id="dayQualityChart"></canvas>
<canvas id="goodReasons"></canvas>
<canvas id="badReasons"></canvas>
<canvas id="mehReasons"></canvas>