

<div id="postScreen" class="flex h-screen/1">

    <div id="dayQuality" class="m-auto text-center">
        <P class="font-sans font-bold text-5xl text-lime1">Was today a good or bad day?</p>

        <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            <a id="good" class="day_quality">Good</a>
        </button>

        <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            <a id="bad" class="day_quality">Bad</a>
        </button>

        <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            <a id="meh" class="day_quality">Meh</a>
        </button>
    </div>

    <div id="reasons" class="m-auto text-center">

        <div id="Day" class="m-auto text-center">


            <p id="genericResponse" class="font-sans font-bold text-5xl text-lime1"></p>

            <button id="Work"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Work
            </button>

            <button id="Family"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Family
            </button>

            <button id="Other"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Other
            </button>
        </div>
    </div>

    <div id="gratitude" class="m-auto text-center">
        <label class="block">
            <span class="font-sans font-bold text-2xl text-lime1">What is something you are grateful for today?</span>
            <textarea id="gratitudeResponse" class="form-textarea mt-1 block w-full" rows="3"
                placeholder="Enter some long form content."></textarea>
        </label>
        <button id="gratitudeSubmit" class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none" type="submit">Submit</button>
    </div>


</div>

<script src="/public/assets/js/post.js"></script>