

    <div id="postScreen" class="flex h-screen/1">

        <div id="dayQuality" class="m-auto text-center">
                <P class="font-sans font-bold text-5xl text-lime1">Was today a good or bad day?</p>
                   
                <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
				    <a id="good" class="day_quality">Good</a>
				</button>

                <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
				    <a id="bad" class="day_quality">Bad</a>
				</button>

                <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
				    <a id="meh" class="day_quality">Meh</a>
				</button>
        </div>

        <div id="reasons" class="m-auto text-center">

            <div id="Day" class="m-auto text-center">

                
                <p id="genericResponse" class="font-sans font-bold text-5xl text-lime1"></p>

                <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
				    <a id="Work">Work</a>
				</button>

                <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
				    <a id="Family">Family</a>
				</button>

                <button class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
				    <a id="Other">Other</a>
				</button>
            </div>
        </div>


    </div>

<script src="/public/assets/js/post.js"></script>
