<div id="postScreen" class="flex h-screen/1">

    <div id="dayQuality" class="m-auto text-center">

        <P class="font-sans font-bold text-5xl text-lime1">How was your day?</p>

        <button id="good"
            class="day_quality block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            Good
        </button>

        <button id="bad" class="day_quality block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">
            Bad
        </button>

    </div>

    <div id="reasons" class="m-auto text-center">

        <div id="Day" class="m-auto text-center">


            <p id="genericResponse" class="font-sans font-bold text-5xl text-lime1"></p>

            <button id="Work"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Work
            </button>

            <button id="Family"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Family
            </button>

            <button id="Friends"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Friends
            </button>

            <button id="School"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                School
            </button>

            <button id="Relationship"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Relationship
            </button>

            <button id="Health"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Health
            </button>

            <button id="Other"
                class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none reasonSelected">
                Other
            </button>
        </div>
    </div>

    <div id="gratitude" class="m-auto text-center">
        <label class="block">
            <span class="font-sans font-bold text-2xl text-lime1">What is something you are grateful for today?</span>
            <textarea id="gratitudeResponse" maxlength="255" class="form-textarea mt-1 block w-full" rows="3"
                placeholder="Enter some long form content."></textarea>
        </label>
        <br>
        <p class="text-white">You have <span class="text-white" id="charactersRemaining">255</span> characters
            remaining.</p>
        <button id="gratitudeSubmit"
            class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none"
            type="submit">Submit</button>
    </div>


</div>

<script src="/public/assets/js/post.js"></script>