

    <div id="reasonScreen" class="flex h-screen/1">
        <div id="dayQuality" class="m-auto text-center">
                <P class="font-sans font-bold text-5xl text-lime1">Sorry to hear that.</p>
        </div>
    </div>