
  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img class = "fill-current h-8 w-8 mr-2" width="64" height="64" viewBox="0 0 64 64" src="../public/assets/images/seeds.png" alt="seeds logo">
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Home
      </a>
      <a href="about" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        About
      </a>
      <a href="Metrics" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Metrics
      </a>
        <a id="signOut" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
        Sign out
      </a>
    </div>
    <div>
      <a href="https://github.com/Iansachs1/Seeds" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
  </div>
</nav>
  <div class="flex h-screen/1">

    <div class="m-auto text-center">

      <h2 class="font-sans font-bold text-5xl text-lime1">Sign Up Form</h2>

      <form class="signup">

        <div class="form-group">
          <div class="lg">
          <label for="exampleInputName1" class="font-sans font-bold md:text-right text-xl text-lime1">Name</label>
          </div>
          <input type="text" class="form-control font-bold appearance-none border-2 rounded" id="name-input" placeholder="Name">
        </div>

        <div class="form-group">
          <div class="lg">
          <label for="exampleInputEmail1" class="font-sans font-bold text-xl text-lime1">Email address</label>
          </div>
          <input type="email" class="form-control font-bold appearance-none border-2 rounded" id="email-input" placeholder="Email">
        </div>

        <div class="form-group">
          <div class="lg">
          <label for="exampleInputPassword1" class="font-sans font-bold md:text-right text-xl text-lime1">Password</label>
          </div>
          <input type="password" class="form-control font-bold appearance-none border-2 rounded" id="password-input" placeholder="Password">
        </div>

        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>

        <button type="submit" class="block m-auto my-5 w-32 p-2 bg-lime1 text-white rounded-full font-bold focus:outline-none">Sign Up</button>

      <p class="font-sans font-bold text-2xl text-lime1 m-auto text-center">Or log in <a href="/login">here</a></p>

      </form>
    </div>
  </div>


<script type="text/javascript" src="/public/assets/js/signup.js"></script>